absl-py==2.3.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
dm-tree==0.1.9
executing==2.2.0
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.58.5
fsspec==2024.6.1
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.73.1
h5py==3.14.0
humanfriendly==10.0
idna==3.10
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.8.1
keras==2.12.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.1.0
ncnn==1.0.20250503
nest-asyncio==1.6.0
networkx==3.3
numpy==1.23.5
oauthlib==3.3.1
onnx==1.17.0
onnx-tf==1.10.0
onnx2tf==1.28.1
onnx_graphsurgeon==0.5.8
onnxruntime==1.22.1
onnxruntime-gpu==1.22.0
onnxslim==0.1.59
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.3.0
parso==0.8.4
pillow==11.0.0
platformdirs==4.3.8
portalocker==3.2.0
prompt_toolkit==3.0.51
protobuf==4.25.8
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.2
pyparsing==3.2.3
pyreadline3==3.5.4
pyrealsense2==2.55.1.6486
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==27.0.0
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.0.0
rsa==4.9.1
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
smmap==5.0.2
sng4onnx==1.0.4
stack-data==0.6.3
sympy==1.13.3
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.25.0
termcolor==3.1.0
tf_keras==2.19.0
torch==2.7.1+cu128
torchaudio==2.7.1+cu128
torchvision==0.22.1+cu128
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.162
ultralytics-thop==2.0.14
urllib3==2.5.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.14.1
